<section id="center" class="center_o clearfix bg-light">
	<div class="container">
		<div class="row center_o1">
			<div class="col-md-12">
				<h2 class="mgt big">About Us</h2>
				<h5 class="mb-0"><a href="#">Home</a> / <span class="color_1">About Us</span></h5>
			</div>
		</div>
	</div>
</section>

<section id="about_pg" class="pb-5 pt-5">
	<div class="container">
		<div class="row about_pg1">
			<div class="col-md-6">
				<div class="about_pg1l">
					<h5 class="bg-white d-inline-block color_1 bg_head">~ About Us ~</h5>
					<h2 class="mt-3">Choose <span class="color_1">The Best</span> IT<br> Service Company</h2>
					<p class="mt-3">ITSoft has been optimized to give your visitors the best experience in terms of UX/UI, with a unique design.</p>
					<div class="about_pg1i mt-4">
						<ul class="nav nav-tabs text-center nav-justified">
							<li class="nav-item">
								<a href="#home" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
									<i class="mdi mdi-home-variant d-md-none d-block"></i>
									<span class="d-md-block">Our Mission</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#profile" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
									<i class="mdi mdi-account-circle d-md-none d-block"></i>
									<span class="d-md-block">Our Vision</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#settings" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
									<i class="mdi mdi-settings-outline d-md-none d-block"></i>
									<span class="d-md-block">Our Value</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="about_pg1i1  mt-4">
						<div class="tab-content">
							<div class="tab-pane active" id="home">
								<div class="about_pg1i1i">
									<p>An IT firm or MSP who keeps your IT running smoothly at all times is like a plumber who fixes your pipes; that’s what they are supposed to do. Many IT firms struggle to keep themselves and their IT from falling apart. We’ve raised the standards in this industry and are a leading cybersecurity.</p>
									<h6 class="mt-4 mb-0">
										<a class="button" href="#">Check Details <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
									</h6>
								</div>
							</div>
							<div class="tab-pane" id="profile">
								<div class="about_pg1i1i">
									<p>We have critical compliance designations, including SSAE 18 Type II and PCI, adhering to the strictest industry regulations. We train our staff on HIPAA best practices on behalf of our healthcare clients. We incorporate and maintain advanced monitoring, anti-malware, and authentication tools.</p>
									<h6 class="mt-4 mb-0">
										<a class="button" href="#">Check Details <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
									</h6>
								</div>
							</div>
							<div class="tab-pane" id="settings">
								<div class="about_pg1i1i">
									<p>Every ITS client has a dedicated Virtual CIO who provides personalized, strategic guidance. Your vCIO understands what drives your business and recommends technology solutions to solve your unique needs. With your best interests in mind, your vCIO assists with budgeting.</p>
									<h6 class="mt-4 mb-0">
										<a class="button" href="#">Check Details <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
									</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="about_pg1r clearfix position-relative">
					<div class="about_pg1r1 text-center clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="#"><img src="~/img/21.jpg" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="about_pg1r2 clearfix position-absolute">
						<h2 class="d-inline-block mb-0">
							14<br>
							<span class="font_20"><span class="d-inline-block mt-4">years of</span> <br> experiences</span>
						</h2>
					</div>
					<div class="about_pg1r3 clearfix position-absolute">
						<div class="about_pg1r3m bg-white row">
							<div class="col-md-2">
								<div class="about_pg1r3l">
									<span class="color_1"><i class="fa fa-trophy"></i></span>
								</div>
							</div>
							<div class="col-md-10">
								<div class="about_pg1r3r">
									<h4>Best Awarded Company</h4>
									<p class="font_16 mb-0">We adapt our delivery to the way your work, whether as an external provider.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="hist" class="pt-5 pb-5 bg-light">
	<div class="container">
		<div class="row hist_1">
			<div class="col-md-3">
				<div class="hist_1i bg-white p-3 text-center">
					<img src="~/img/10.jpg" class="rounded-circle" alt="abc">
					<h5 class="mt-3 text-white">2011</h5>
					<h6 class="font_20 mt-3">Start Business</h6>
					<p class="font_16 mb-0">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="hist_1i bg-white p-3 text-center">
					<img src="~/img/11.jpg" class="rounded-circle" alt="abc">
					<h5 class="mt-3 text-white">2012</h5>
					<h6 class="font_20 mt-3">Survival Work</h6>
					<p class="font_16 mb-0">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="hist_1i bg-white p-3 text-center">
					<img src="~/img/12.jpg" class="rounded-circle" alt="abc">
					<h5 class="mt-3 text-white">2013</h5>
					<h6 class="font_20 mt-3">Opportunity</h6>
					<p class="font_16 mb-0">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="hist_1i bg-white p-3 text-center">
					<img src="~/img/13.jpg" class="rounded-circle" alt="abc">
					<h5 class="mt-3 text-white">2014</h5>
					<h6 class="font_20 mt-3">40+ Branches</h6>
					<p class="font_16 mb-0">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="team" class="pt-5 pb-5">
	<div class="container">
		<div class="serv_h1 text-center row">
			<div class="col-md-12">
				<h5 class="bg-white d-inline-block color_1 bg_head">~ Team Member ~</h5>
				<h2 class="mt-3 mb-0">Passionate Personalities,   <br> <span class="color_1">Versatile</span> Brains</h2>
			</div>
		</div>
		<div class="row team_1 mt-4">
			<div class="col-md-3">
				<div class="team_1i clearfix position-relative text-center">
					<div class="team_1i1 clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="#"><img src="~/img/22.jpg" class="w-100" height="330" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="team_1i2 clearfix w-100 position-absolute">
						<p class="font_16 text-light">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
						<h6><a class="button" href="#">Read More</a></h6>
					</div>
					<div class="team_1i3 w-100 clearfix position-absolute">
						<h4 class="text-white">Eget Nulla</h4>
						<h6 class="mb-0 color_5">Developer</h6>
					</div>
					<div class="team_1i4 w-100 clearfix position-absolute">
						<ul class="social-network social-circle mb-0">
							<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team_1i clearfix position-relative text-center">
					<div class="team_1i1 clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="#"><img src="~/img/23.jpg" class="w-100" height="330" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="team_1i2 clearfix w-100 position-absolute">
						<p class="font_16 text-light">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
						<h6><a class="button" href="#">Read More</a></h6>
					</div>
					<div class="team_1i3 w-100 clearfix position-absolute">
						<h4 class="text-white">Nulla Quis</h4>
						<h6 class="mb-0 color_5">Business Head</h6>
					</div>
					<div class="team_1i4 w-100 clearfix position-absolute">
						<ul class="social-network social-circle mb-0">
							<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team_1i clearfix position-relative text-center">
					<div class="team_1i1 clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="#"><img src="~/img/24.jpg" class="w-100" height="330" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="team_1i2 clearfix w-100 position-absolute">
						<p class="font_16 text-light">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
						<h6><a class="button" href="#">Read More</a></h6>
					</div>
					<div class="team_1i3 w-100 clearfix position-absolute">
						<h4 class="text-white">Eget Porta</h4>
						<h6 class="mb-0 color_5">Manager</h6>
					</div>
					<div class="team_1i4 w-100 clearfix position-absolute">
						<ul class="social-network social-circle mb-0">
							<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team_1i clearfix position-relative text-center">
					<div class="team_1i1 clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="#"><img src="~/img/25.jpg" class="w-100" height="330" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="team_1i2 clearfix w-100 position-absolute">
						<p class="font_16 text-light">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
						<h6><a class="button" href="#">Read More</a></h6>
					</div>
					<div class="team_1i3 w-100 clearfix position-absolute">
						<h4 class="text-white">Arcu Eget</h4>
						<h6 class="mb-0 color_5">Founder & CEO</h6>
					</div>
					<div class="team_1i4 w-100 clearfix position-absolute">
						<ul class="social-network social-circle mb-0">
							<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="subs_1">
			<div class="subs_m row">
				<div class="col-md-3">
					<div class="subs_1i text-center">
						<h2 class="text-white"><i class="fa fa-users color_5"></i> 109+</h2>
						<h5 class="text-light mb-0">Team members</h5>
					</div>
				</div>
				<div class="col-md-3">
					<div class="subs_1i text-center">
						<h2 class="text-white"><i class="fa fa-trophy color_5"></i> 29+</h2>
						<h5 class="text-light mb-0">Winning awards</h5>
					</div>
				</div>
				<div class="col-md-3">
					<div class="subs_1i text-center">
						<h2 class="text-white"><i class="fa fa-file color_5"></i> 12k+</h2>
						<h5 class="text-light mb-0">Completed project</h5>
					</div>
				</div>
				<div class="col-md-3">
					<div class="subs_1i text-center">
						<h2 class="text-white"><i class="fa fa-user color_5"></i> 759+</h2>
						<h5 class="text-light mb-0">Client’s reviews</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="testim" class="pt-5 bg-light">
	<div class="container">
		<div class="row testim_1">
			<div class="col-md-5">
				<div class="testim_1l">
					<h5 class="bg-white d-inline-block color_1 bg_head">~ Testimonials ~</h5>
					<h2 class="mt-3 mb-3">Here’s what our <span class="color_1">customers</span> have said.  </h2>
					<p>Simplified IT is designed to help make sure you and your data is protected and your computer runs it’s best. The network Access provides is valuable.</p>
					<h6 class="mt-4 mb-0">
						<a class="button" href="#">View More <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
					</h6>
				</div>
			</div>
			<div class="col-md-7">
				<div class="testim_1r">
					<div id="carouselExampleCaptions3" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
							<button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
							<button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="testim_1ri row">
									<div class="col-md-12 bg-white pt-4 pb-4 px-5">
										<span class="font_20">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="font_20 mt-3">“ITo helped the client achieve their goal of calling the attention of mobile network operators. The expert team was also able to develop an app with commendable UI/UX. The client appreciates their flexibility in terms.”</p>
										<img src="~/img/18.jpg" alt="abc" class="rounded-circle">
										<h4 class="d-inline-block">Eget Nulla <br><span class="color_1 font_16">Founder &amp; CEO</span></h4>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="testim_1ri row">
									<div class="col-md-12 bg-white pt-4 pb-4 px-5">
										<span class="font_20">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="font_20 mt-3">“ITo helped the client achieve their goal of calling the attention of mobile network operators. The expert team was also able to develop an app with commendable UI/UX. The client appreciates their flexibility in terms.”</p>
										<img src="~/img/19.jpg" alt="abc" class="rounded-circle">
										<h4 class="d-inline-block">Semper  Porta <br><span class="color_1 font_16">Developer</span></h4>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="testim_1ri row">
									<div class="col-md-12 bg-white pt-4 pb-4 px-5">
										<span class="font_20">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="font_20 mt-3">“ITo helped the client achieve their goal of calling the attention of mobile network operators. The expert team was also able to develop an app with commendable UI/UX. The client appreciates their flexibility in terms.”</p>
										<img src="~/img/20.jpg" alt="abc" class="rounded-circle">
										<h4 class="d-inline-block">Dapibus Diam <br><span class="color_1 font_16">Designer</span></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<section id="quote" class="pt-5 pb-5">
	<div class="container">
		<div class="row quote_1">
			<div class="col-md-9">
				<div class="quote_1l">
					<h3 class="text-white">Looking for the Best IT Business Solutions?</h3>
					<p class="mb-0 color_3">As a app web crawler expert, We will help to organize.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="quote_1r">
					<h6 class="mb-0 mt-3"> <a class="button" href="#">Get a quote now </a></h6>
				</div>
			</div>
		</div>
	</div>
</section>