
<section id="center" class="center_o clearfix bg-light">
	<div class="container">
		<div class="row center_o1">
			<div class="col-md-12">
				<h2 class="mgt big">Blog</h2>
				<h5 class="mb-0"><a href="#">Home</a> / <span class="color_1">Blog</span></h5>
			</div>
		</div>
	</div>
</section>

<section id="blog_pg" class="pt-5 pb-5">
	<div class="container">
		<div class="row blog_pg1">
			<div class="col-md-3 p-0">
				<div class="blog_pg1l">
					<div class="blog_pg1l1">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</div>
					<div class="blog_pg1l1 mt-4">
						<h4>Categories</h4>
						<hr class="line_3">
						<h6><a href="blog_detail.html"><span class="span_1"><i class="fa fa-chevron-right font_14 mx-1"></i> Business</span> <span class="float-end bg-light span_2">2</span></a></h6>
						<h6><a href="blog_detail.html"><span class="span_1"><i class="fa fa-chevron-right font_14 mx-1"></i> Consulting</span> <span class="float-end bg-light span_2">4</span></a></h6>
						<h6><a href="blog_detail.html"><span class="span_1"><i class="fa fa-chevron-right font_14 mx-1"></i> Financial</span> <span class="float-end bg-light span_2">3</span></a></h6>
						<h6><a href="blog_detail.html"><span class="span_1"><i class="fa fa-chevron-right font_14 mx-1"></i> UI/UX Design</span> <span class="float-end bg-light span_2">5</span></a></h6>
						<h6 class="mb-0 pb-0 border-0"><a href="blog_detail.html"><span class="span_1"><i class="fa fa-chevron-right font_14 mx-1"></i> User Research</span> <span class="float-end bg-light span_2">1</span></a></h6>
					</div>
					<div class="blog_pg1l2 mt-4">
						<h4>Recent News</h4>
						<hr class="line_3">
						<div class="blog_pg1l2i row">
							<div class="col-md-4 col-4">
								<div class="blog_pg1l2il">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="blog_detail.html"><img src="~/img/13.jpg" height="75" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
							</div>
							<div class="col-md-8 col-8 p-0">
								<div class="blog_pg1l2ir">
									<h6><a href="blog_detail.html">Regional Manager & limited time management.</a></h6>
									<h6 class="fw-normal color_2 font_14"><i class="fa fa-calendar color_1 mx-1"></i> July 24, 2021</h6>
								</div>
							</div>
						</div>
						<div class="blog_pg1l2i row">
							<div class="col-md-4 col-4">
								<div class="blog_pg1l2il">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="blog_detail.html"><img src="~/img/12.jpg" height="75" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
							</div>
							<div class="col-md-8 col-8 p-0">
								<div class="blog_pg1l2ir">
									<h6><a href="blog_detail.html">Revitalising your people in to a retail downturn.</a></h6>
									<h6 class="fw-normal color_2 font_14"><i class="fa fa-calendar color_1 mx-1"></i> May 24, 2021</h6>
								</div>
							</div>
						</div>
						<div class="blog_pg1l2i row pb-0 mb-0 border-0">
							<div class="col-md-4 col-4">
								<div class="blog_pg1l2il">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="blog_detail.html"><img src="~/img/11.jpg" height="75" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
							</div>
							<div class="col-md-8 col-8 p-0">
								<div class="blog_pg1l2ir">
									<h6><a href="blog_detail.html">Organisational teams of the are just like families</a></h6>
									<h6 class="fw-normal color_2 font_14"><i class="fa fa-calendar color_1 mx-1"></i> June 24, 2021</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="blog_pg1l1 mt-4">
						<h4>Archives</h4>
						<hr class="line_3">
						<h6><a href="blog_detail.html"><span class="span_1"><i class="fa fa-chevron-right font_14 mx-1"></i> June 24, 2021</span> <span class="float-end bg-light span_2">2</span></a></h6>
						<h6><a href="blog_detail.html"><span class="span_1"><i class="fa fa-chevron-right font_14 mx-1"></i> July 24, 2021</span> <span class="float-end bg-light span_2">4</span></a></h6>
						<h6><a href="blog_detail.html"><span class="span_1"><i class="fa fa-chevron-right font_14 mx-1"></i> May 24, 2021</span> <span class="float-end bg-light span_2">8</span></a></h6>
						<h6><a href="blog_detail.html"><span class="span_1"><i class="fa fa-chevron-right font_14 mx-1"></i> Oct 24, 2021</span> <span class="float-end bg-light span_2">9</span></a></h6>
						<h6 class="mb-0 pb-0 border-0"><a href="blog_detail.html"><span class="span_1"><i class="fa fa-chevron-right font_14 mx-1"></i> Aug 24, 2021</span> <span class="float-end bg-light span_2">1</span></a></h6>
					</div>
					<div class="blog_pg1l1 mt-4">
						<h4>Gallery</h4>
						<hr class="line_3">
						<div class="row footer_1ii">
							<div class="col-md-4 col-4 px-1">
								<div class="footer_1ii1">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="blog_detail.html"><img src="~/img/6.jpg" height="80" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-4 px-1">
								<div class="footer_1ii1">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="blog_detail.html"><img src="~/img/7.jpg" height="80" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-4 px-1">
								<div class="footer_1ii1">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="blog_detail.html"><img src="~/img/8.jpg" height="80" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
							</div>
						</div>
						<div class="row footer_1ii mt-2">
							<div class="col-md-4 col-4 px-1">
								<div class="footer_1ii1">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="blog_detail.html"><img src="~/img/9.jpg" height="80" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-4 px-1">
								<div class="footer_1ii1">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="blog_detail.html"><img src="~/img/10.jpg" height="80" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-4 px-1">
								<div class="footer_1ii1">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="blog_detail.html"><img src="~/img/11.jpg" height="80" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="blog_pg1l1 mt-4">
						<h4>Tags</h4>
						<hr class="line_3">
						<ul class="mb-0">
							<li><a href="blog_detail.html">Builder</a></li>
							<li><a href="blog_detail.html">Business</a></li>
							<li><a href="blog_detail.html">Cloud</a></li>
							<li><a href="blog_detail.html">Map</a></li>
							<li><a href="blog_detail.html">Truck</a></li>
							<li><a href="blog_detail.html">Semper</a></li>
							<li><a href="blog_detail.html">Porta</a></li>
							<li><a href="blog_detail.html">Dapibus</a></li>
							<li><a href="blog_detail.html">Quis</a></li>
							<li><a href="blog_detail.html">Ipsum</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="blog_pg1r mx-4">
					<div class="blog_h1i">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="blog_detail.html"><img src="~/img/1.jpg" height="450" class="w-100" alt="abc"></a>
							</figure>
						</div>
						<div class="blog_h1i1 p-3 clearfix">
							<h6 class="font_14">
								<span><i class="fa fa-calendar color_1 mx-1"></i> July 22, 2022</span>
								<span class="mx-2"><i class="fa fa-user color_1 mx-1"></i> Dapibus Diam</span>
								<span><i class="fa fa-tags color_1 mx-1"></i> UI/UX Design</span>
							</h6>
							<h3 class="mt-3"><a href="blog_detail.html">Regional Manager & limited time management.</a></h3>
							<p>With over a decade experience, we’ve established ourselves as one of the pioneering agencies in the region. We understand the importance of approaching each work integrally and believe in the power of simple and easy communication.</p>
							<h6 class="mb-4"><a class="button" href="~/Home/blog_detail">Read More</a></h6>
							<div class="blog_h1i1i row m-0">
								<div class="col-md-6">
									<div class="blog_h1i1il">
										<span><i class="fa fa-joomla"></i></span>
										<h6 class="d-inline-block mb-0"><a class="color_4" href="blog_detail.html">Eget Nulla</a></h6>
									</div>
								</div>
								<div class="col-md-6">
									<div class="blog_h1i1ir text-end">
										<h6 class="mb-0 mt-2"><a class="color_4" href="blog_detail.html">More Details <i class="fa fa-chevron-right mx-1 align-middle"></i></a></h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="blog_h1i mt-3">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="blog_detail.html"><img src="~/img/2.jpg" height="450" class="w-100" alt="abc"></a>
							</figure>
						</div>
						<div class="blog_h1i1 p-3 clearfix">
							<h6 class="font_14">
								<span><i class="fa fa-calendar color_1 mx-1"></i> July 22, 2022</span>
								<span class="mx-2"><i class="fa fa-user color_1 mx-1"></i> Dapibus Diam</span>
								<span><i class="fa fa-tags color_1 mx-1"></i> UI/UX Design</span>
							</h6>
							<h3 class="mt-3"><a href="blog_detail.html">Organisational teams of the are just like families</a></h3>
							<p>With over a decade experience, we’ve established ourselves as one of the pioneering agencies in the region. We understand the importance of approaching each work integrally and believe in the power of simple and easy communication.</p>
							<h6 class="mb-4"><a class="button" href="~/Home/blog_detail">Read More</a></h6>
							<div class="blog_h1i1i row m-0">
								<div class="col-md-6">
									<div class="blog_h1i1il">
										<span><i class="fa fa-joomla"></i></span>
										<h6 class="d-inline-block mb-0"><a class="color_4" href="blog_detail.html">Eget Nulla</a></h6>
									</div>
								</div>
								<div class="col-md-6">
									<div class="blog_h1i1ir text-end">
										<h6 class="mb-0 mt-2"><a class="color_4" href="blog_detail.html">More Details <i class="fa fa-chevron-right mx-1 align-middle"></i></a></h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="blog_h1i mt-3">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="blog_detail.html"><img src="~/img/3.jpg" height="450" class="w-100" alt="abc"></a>
							</figure>
						</div>
						<div class="blog_h1i1 p-3 clearfix">
							<h6 class="font_14">
								<span><i class="fa fa-calendar color_1 mx-1"></i> July 22, 2022</span>
								<span class="mx-2"><i class="fa fa-user color_1 mx-1"></i> Dapibus Diam</span>
								<span><i class="fa fa-tags color_1 mx-1"></i> UI/UX Design</span>
							</h6>
							<h3 class="mt-3"><a href="blog_detail.html">Revitalising your people in to a retail downturn.</a></h3>
							<p>With over a decade experience, we’ve established ourselves as one of the pioneering agencies in the region. We understand the importance of approaching each work integrally and believe in the power of simple and easy communication.</p>
							<h6 class="mb-4"><a class="button" href="~/Home/blog_detail">Read More</a></h6>
							<div class="blog_h1i1i row m-0">
								<div class="col-md-6">
									<div class="blog_h1i1il">
										<span><i class="fa fa-joomla"></i></span>
										<h6 class="d-inline-block mb-0"><a class="color_4" href="blog_detail.html">Eget Nulla</a></h6>
									</div>
								</div>
								<div class="col-md-6">
									<div class="blog_h1i1ir text-end">
										<h6 class="mb-0 mt-2"><a class="color_4" href="blog_detail.html">More Details <i class="fa fa-chevron-right mx-1 align-middle"></i></a></h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pages mt-4  text-center">
						<div class="col-md-12">
							<ul class="mb-0">
								<li><a href="blog_detail.html"><i class="fa fa-chevron-left"></i></a></li>
								<li class="act"><a href="blog_detail.html">1</a></li>
								<li><a href="blog_detail.html">2</a></li>
								<li><a href="blog_detail.html">3</a></li>
								<li><a href="blog_detail.html">4</a></li>
								<li><a href="blog_detail.html">5</a></li>
								<li><a href="blog_detail.html">6</a></li>
								<li><a href="blog_detail.html"><i class="fa fa-chevron-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="quote" class="pt-5 pb-5">
	<div class="container">
		<div class="row quote_1">
			<div class="col-md-9">
				<div class="quote_1l">
					<h3 class="text-white">Looking for the Best IT Business Solutions?</h3>
					<p class="mb-0 color_3">As a app web crawler expert, We will help to organize.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="quote_1r">
					<h6 class="mb-0 mt-3"> <a class="button" href="#">Get a quote now </a></h6>
				</div>
			</div>
		</div>
	</div>
</section>
