
<section id="center" class="center_o clearfix bg-light">
 <div class="container">
   <div class="row center_o1">
    <div class="col-md-12">
	   <h2 class="mgt big">Contact</h2>
	   <h5 class="mb-0"><a href="#">Home</a> / <span class="color_1">Contact</span></h5>
	</div>
   </div>
  </div>
</section>

<section id="contact" class="pt-5 pb-5">
 <div class="container">
   <div class="row contact_1">
    <div class="col-md-4">
     <div class="contact_1l mx-3">
	  <div class="contact_1li row">
		<div class="col-md-2">
		 <div class="contact_1lil">
		  <span class="color_1"><i class="fa fa-map-signs"></i></span>
		 </div>
		</div>
		<div class="col-md-10">
		 <div class="contact_1lir">
		   <h4>Office address</h4>
		   <p class="font_16 mb-0">Semper Agency Network 30 Westbourne Nulla West Bengal Z3 9MH</p>
		 </div>
		</div>
	  </div>
	  <div class="contact_1li mt-4 row">
		<div class="col-md-2">
		 <div class="contact_1lil">
		  <span class="color_1"><i class="fa fa-phone-square"></i></span>
		 </div>
		</div>
		<div class="col-md-10">
		 <div class="contact_1lir">
		   <h4>Telephone number</h4>
		   <p class="font_16 mb-0">(123) 456-7890 <br> (123) 456-7890</p>
		 </div>
		</div>
	  </div>
	  <div class="contact_1li mt-4 row">
		<div class="col-md-2">
		 <div class="contact_1lil">
		  <span class="color_1"><i class="fa fa-envelope"></i></span>
		 </div>
		</div>
		<div class="col-md-10">
		 <div class="contact_1lir">
		   <h4>Mail address</h4>
		   <p class="font_16 mb-0">info@gmail.com <br> info@gmail.com</p>
		 </div>
		</div>
	  </div>
	</div>
	
   </div>
    <div class="col-md-8">
     <div class="contact_1r">
	  <div class="contact_1ri row">
	   <div class="col-md-6">
	    <div class="contact_1ril">
		 <h6>Name (required)</h6>
		 <input class="form-control" placeholder="Your Name*" type="text">
		</div>
	   </div>
	   <div class="col-md-6">
	    <div class="contact_1ril">
		 <h6>Email adress (required)</h6>
		 <input class="form-control" placeholder="Mail*" type="text">
		</div>
	   </div>
	  </div>
	  <div class="contact_1ri mt-4 row">
	   <div class="col-md-6">
	    <div class="contact_1ril">
		 <h6>Phone (optional)</h6>
		 <input class="form-control" placeholder="Your Phone" type="text">
		</div>
	   </div>
	   <div class="col-md-6">
	    <div class="contact_1ril">
		 <h6>Services (required)</h6>
		 <select class="form-select" id="example-select">
        <option>Select Services</option>
        <option>StartUp Business</option>
        <option>Business Growth</option>
        <option>Success Fullfill</option>
       </select>
		</div>
	   </div>
	  </div>
	  <div class="contact_1ri mt-4 row">
	   <div class="col-md-12">
	    <div class="contact_1ril">
		 <h6>Your message</h6>
		 <textarea class="form-control area" placeholder="Type Message*"></textarea>
		 <h6 class="mb-0 mt-4">
          <a class="button" href="#">Send Message </a>
        </h6>
		</div>
	   </div>
	   
	  </div>
	 </div>
	</div>
  </div>
   <div class="row contact_2 mt-4">
    <div class="col-md-12">
	  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788" height="450" style="border:0; width:100%;" allowfullscreen=""></iframe>
	</div>
   </div>
	 </div>
</section>

<section id="quote" class="pt-5 pb-5">
 <div class="container">
   <div class="row quote_1">
    <div class="col-md-9">
	 <div class="quote_1l">
	  <h3 class="text-white">Looking for the Best IT Business Solutions?</h3>
	  <p class="mb-0 color_3">As a app web crawler expert, We will help to organize.</p>
	 </div>
	</div>
	<div class="col-md-3">
	 <div class="quote_1r">
	   <h6 class="mb-0 mt-3"> <a class="button" href="#">Get a quote now </a></h6>
	 </div>
	</div>
   </div>
 </div>
</section>
