@{
    ViewData["Title"] = "Home Page";
}

<div class="main clearfix position-relative">
	<div class="main_1 clearfix">
		<section id="center" class="center_home">
			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class="" aria-current="true"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="~/img/1.jpg" class="d-block w-100" alt="...">
						<div class="carousel-caption  d-md-block ">
							<h4 class="bg-white d-inline-block color_1 bg_head">We are IT service agency</h4>
							<h1 class="mt-3">We Provide Our World <br>  best Service</h1>
							<p class="font_20 text-white">Lorem Ipsum by the readable content of a page when looking at its layout.<br> The point of using Lorem Ipsum is that it has a Read More</p>
							<h5 class="mt-4">
								<a class="button" href="~/Home/team">Our Team <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
							</h5>
						</div>
					</div>
					<div class="carousel-item">
						<img src="~/img/2.jpg" class="d-block w-100" alt="...">
						<div class="carousel-caption  d-md-block ">
							<h4 class="bg-white d-inline-block color_1 bg_head">We are IT service agency</h4>
							<h1 class="mt-3">Vestibulum  arcu eget  <br>  nulla aptent</h1>
							<p class="font_20 text-white">Lorem Ipsum by the readable content of a page when looking at its layout.<br> The point of using Lorem Ipsum is that it has a Read More</p>
							<h5 class="mt-4">
								<a class="button" href="~/Home/team">Our Team <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
							</h5>
						</div>
					</div>
					<div class="carousel-item">
						<img src="~/img/3.jpg" class="d-block w-100" alt="...">
						<div class="carousel-caption  d-md-block">
							<h4 class="bg-white d-inline-block color_1 bg_head">We are IT service agency</h4>
							<h1 class="mt-3">litora torquent per  <br>  conubia nostra</h1>
							<p class="font_20 text-white">Lorem Ipsum by the readable content of a page when looking at its layout.<br> The point of using Lorem Ipsum is that it has a Read More</p>
							<h5 class="mt-4">
								<a class="button" href="~/Home/team">Our Team <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
							</h5>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</section>
	</div>
	<div class="main_2 clearfix position-absolute w-100">
		<section id="spec">
			<div class="container">
				<div class="row spec_1">
					<div class="col">
						<div class="spec_1i text-center">
							<span class="color_1"><i class="fa fa-edit"></i></span>
							<h5 class="mt-3 mb-0"><a class="color_4" href="#">UI/UX Design<br> Services</a></h5>
						</div>
					</div>
					<div class="col">
						<div class="spec_1i text-center">
							<span class="color_1"><i class="fa fa-gear"></i></span>
							<h5 class="mt-3 mb-0"><a class="color_4" href="#">Business <br> Consultation</a></h5>
						</div>
					</div>
					<div class="col">
						<div class="spec_1i text-center">
							<span class="color_1"><i class="fa fa-google"></i></span>
							<h5 class="mt-3 mb-0"><a class="color_4" href="#">Website<br> Development</a></h5>
						</div>
					</div>
					<div class="col">
						<div class="spec_1i text-center">
							<span class="color_1"><i class="fa fa-users"></i></span>
							<h5 class="mt-3 mb-0"><a class="color_4" href="#">Support <br> Management</a></h5>
						</div>
					</div>
					<div class="col">
						<div class="spec_1i text-center">
							<span class="color_1"><i class="fa fa-search"></i></span>
							<h5 class="mt-3 mb-0"><a class="color_4" href="#">Market<br> Research</a></h5>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<section id="about_h" class="pt-5 pb-5">
	<div class="container">
		<div class="row about_h_1">
			<div class="col-md-5">
				<div class="about_h_1l position-relative clearfix">
					<div class="about_h_1l1 clearfix">
						<img src="~/img/5.jpg" alt="abc">
					</div>
					<div class="about_h_1l2 position-absolute clearfix">
						<img src="~/img/4.png" alt="abc">
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="about_h_1r">
					<h5 class="bg-white d-inline-block color_1 bg_head">About Our Company</h5>
					<h1 class="mt-3">Choose <span class="color_1">The Best</span> IT <br> Business Company</h1>
					<p class="mt-3">An IT firm or MSP who keeps your IT running smoothly at all<br> times is like a plumber who fixes your pipes; that’s what they are <br>supposed to do. Many IT firms struggle.</p>
					<div class="about_h_1ri row">
						<div class="col-md-6">
							<div class="about_h_1ril">
								<span class="color_1"><i class="fa fa-thumbs-o-up"></i></span>
								<h5 class="d-inline-block">Moneyback <br> Gurentee</h5>
							</div>
						</div>
						<div class="col-md-6">
							<div class="about_h_1ril">
								<span class="color_1"><i class="fa fa-gear"></i></span>
								<h5 class="d-inline-block">Technical <br> Support</h5>
							</div>
						</div>
					</div>
					<div class="about_h_1ri1  row">
						<div class="col-md-5">
							<div class="about_h_1ri1l">
								<h6 class="mt-3 mb-0">
									<a class="button" href="~/Home/contact">Contact Us <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
								</h6>
							</div>
						</div>
						<div class="col-md-7">
							<div class="about_h_1ri1r">
								<span class="span_1"><a href="#"><i class="fa fa-phone color_1 "></i></a></span>
								<h4 class="d-inline-block mb-0"><span class="font_14 color_2">Call for help</span> <br>  (+91) 8839965632</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="serv_h" class="pt-5 pb-5 bg-light">
	<div class="container">
		<div class="serv_h1 text-center row">
			<div class="col-md-12">
				<h5 class="bg-white d-inline-block color_1 bg_head">~ Our Awesome Services ~</h5>
				<h2 class="mt-3 mb-0">We Are <span class="color_1">Dedicated</span> To <br> Serve You All Time.</h2>
			</div>
		</div>
		<div class="serv_h2 row">
			<div class="col-md-3">
				<div class="serv_h2i text-center position-relative  clearfix">
					<div class="serv_h2i1 clearfix position-absolute w-100">
						<span><i class="fa fa-gear"></i></span>
					</div>
					<div class="serv_h2i2  bg-white clearfix">
						<h5>Project Management</h5>
						<hr class="line m-auto mt-4 mb-3">
						<p>Our global community of about 5,000 people can be found working from corporate.</p>
						<h6 class="mb-0"><a class="color_1" href="#">Learn More <i class="fa fa-chevron-right mx-1 align-middle"></i></a></h6>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="serv_h2i text-center position-relative  clearfix">
					<div class="serv_h2i1 clearfix position-absolute w-100">
						<span><i class="fa fa-globe"></i></span>
					</div>
					<div class="serv_h2i2  bg-white clearfix">
						<h5>Cyber Security</h5>
						<hr class="line m-auto mt-4 mb-3">
						<p>Our global community of about 5,000 people can be found working from corporate.</p>
						<h6 class="mb-0"><a class="color_1" href="#">Learn More <i class="fa fa-chevron-right mx-1 align-middle"></i></a></h6>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="serv_h2i text-center position-relative  clearfix">
					<div class="serv_h2i1 clearfix position-absolute w-100">
						<span><i class="fa fa-laptop"></i></span>
					</div>
					<div class="serv_h2i2  bg-white clearfix">
						<h5>Internet Thinking</h5>
						<hr class="line m-auto mt-4 mb-3">
						<p>Our global community of about 5,000 people can be found working from corporate.</p>
						<h6 class="mb-0"><a class="color_1" href="#">Learn More <i class="fa fa-chevron-right mx-1 align-middle"></i></a></h6>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="serv_h2i text-center position-relative  clearfix">
					<div class="serv_h2i1 clearfix position-absolute w-100">
						<span><i class="fa fa-cloud-upload"></i></span>
					</div>
					<div class="serv_h2i2  bg-white clearfix">
						<h5>Digital Marketing</h5>
						<hr class="line m-auto mt-4 mb-3">
						<p>Our global community of about 5,000 people can be found working from corporate.</p>
						<h6 class="mb-0"><a class="color_1" href="#">Learn More <i class="fa fa-chevron-right mx-1 align-middle"></i></a></h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="study" class="pt-5">
	<div class="container">
		<div class="serv_h1 text-center row">
			<div class="col-md-12">
				<h5 class="bg-white d-inline-block color_1 bg_head">~ Our Case Studies ~</h5>
				<h2 class="mt-3 mb-0">Technology Is   <span class="color_1">Transforming</span> To <br> Every Industry Sector</h2>
			</div>
		</div>
		<div class="study_1 row mt-4">
			<div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
					<button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 3" class="" aria-current="true"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="study_1 row">
							<div class="col-md-4">
								<div class="study_1i clearfix">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="#"><img src="~/img/6.jpg" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
								<div class="study_1i1 clearfix">
									<h4><a class="color_4" href="#">Data Management</a></h4>
									<h6 class="mt-3 mb-3 color_2 fw-normal"><i class="fa fa-map-marker color_1 mx-1"></i> 4170 Nulla Rd, London</h6>
									<p class="mb-0">We’ll identify where potential problems might occur and provide you with a detailed set of recommendations.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="study_1i clearfix">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="#"><img src="~/img/7.jpg" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
								<div class="study_1i1 clearfix">
									<h4><a class="color_4" href="#">Big Data & Analytics</a></h4>
									<h6 class="mt-3 mb-3 color_2 fw-normal"><i class="fa fa-map-marker color_1 mx-1"></i> 3560 Dapibus Rd, London</h6>
									<p class="mb-0">We’ll identify where potential problems might occur and provide you with a detailed set of recommendations.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="study_1i clearfix">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="#"><img src="~/img/8.jpg" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
								<div class="study_1i1 clearfix">
									<h4><a class="color_4" href="#">Research & Energy</a></h4>
									<h6 class="mt-3 mb-3 color_2 fw-normal"><i class="fa fa-map-marker color_1 mx-1"></i> 4290 Semper Rd, London</h6>
									<p class="mb-0">We’ll identify where potential problems might occur and provide you with a detailed set of recommendations.</p>
								</div>
							</div>

						</div>
					</div>
					<div class="carousel-item">
						<div class="study_1 row">
							<div class="col-md-4">
								<div class="study_1i clearfix">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="#"><img src="~/img/9.jpg" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
								<div class="study_1i1 clearfix">
									<h4><a class="color_4" href="#">Data Management</a></h4>
									<h6 class="mt-3 mb-3 color_2 fw-normal"><i class="fa fa-map-marker color_1 mx-1"></i> 4170 Nulla Rd, London</h6>
									<p class="mb-0">We’ll identify where potential problems might occur and provide you with a detailed set of recommendations.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="study_1i clearfix">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="#"><img src="~/img/10.jpg" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
								<div class="study_1i1 clearfix">
									<h4><a class="color_4" href="#">Big Data & Analytics</a></h4>
									<h6 class="mt-3 mb-3 color_2 fw-normal"><i class="fa fa-map-marker color_1 mx-1"></i> 4290 Semper Rd, London</h6>
									<p class="mb-0">We’ll identify where potential problems might occur and provide you with a detailed set of recommendations.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="study_1i clearfix">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="#"><img src="~/img/11.jpg" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
								<div class="study_1i1 clearfix">
									<h4><a class="color_4" href="#">Research & Energy</a></h4>
									<h6 class="mt-3 mb-3 color_2 fw-normal"><i class="fa fa-map-marker color_1 mx-1"></i> 3560 Dapibus Rd, London</h6>
									<p class="mb-0">We’ll identify where potential problems might occur and provide you with a detailed set of recommendations.</p>
								</div>
							</div>

						</div>
					</div>
					<div class="carousel-item">
						<div class="study_1 row">
							<div class="col-md-4">
								<div class="study_1i clearfix">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="#"><img src="~/img/12.jpg" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
								<div class="study_1i1 clearfix">
									<h4><a class="color_4" href="#">Data Management</a></h4>
									<h6 class="mt-3 mb-3 color_2 fw-normal"><i class="fa fa-map-marker color_1 mx-1"></i> 4170 Nulla Rd, London</h6>
									<p class="mb-0">We’ll identify where potential problems might occur and provide you with a detailed set of recommendations.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="study_1i clearfix">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="#"><img src="~/img/13.jpg" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
								<div class="study_1i1 clearfix">
									<h4><a class="color_4" href="#">Big Data & Analytics</a></h4>
									<h6 class="mt-3 mb-3 color_2 fw-normal"><i class="fa fa-map-marker color_1 mx-1"></i> 4290 Semper Rd, London</h6>
									<p class="mb-0">We’ll identify where potential problems might occur and provide you with a detailed set of recommendations.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="study_1i clearfix">
									<div class="grid clearfix">
										<figure class="effect-jazz mb-0">
											<a href="#"><img src="~/img/14.jpg" class="w-100" alt="abc"></a>
										</figure>
									</div>
								</div>
								<div class="study_1i1 clearfix">
									<h4><a class="color_4" href="#">Research & Energy</a></h4>
									<h6 class="mt-3 mb-3 color_2 fw-normal"><i class="fa fa-map-marker color_1 mx-1"></i> 3560 Dapibus Rd, London</h6>
									<p class="mb-0">We’ll identify where potential problems might occur and provide you with a detailed set of recommendations.</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="choose" class="pt-5 pb-5 bg-light">
	<div class="container">
		<div class="serv_h1 text-center row">
			<div class="col-md-12">
				<h5 class="bg-white d-inline-block color_1 bg_head">~ Why choose Us?  ~</h5>
				<h2 class="mt-3 mb-0">We Serve A Wide    <span class="color_1">Variety</span> <br> Of Industries</h2>
			</div>
		</div>
		<div class="choose_1 row mt-4">
			<div class="col-md-12">
				<ul class="nav nav-tabs text-center nav-justified">
					<li class="nav-item">
						<a href="#home" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
							<i class="mdi mdi-home-variant d-md-none d-block"></i>
							<span class="d-md-block">Company Mission</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#profile" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
							<i class="mdi mdi-account-circle d-md-none d-block"></i>
							<span class="d-md-block">Awards Winner</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#settings" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
							<i class="mdi mdi-settings-outline d-md-none d-block"></i>
							<span class="d-md-block">Using Softwares</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="choose_2 row mt-4">
			<div class="tab-content">
				<div class="tab-pane active" id="home">
					<div class="choose_2i row">
						<div class="col-md-6">
							<div class="choose_2il">
								<div class="grid clearfix">
									<figure class="effect-jazz mb-0">
										<a href="#"><img src="~/img/15.jpg" class="w-100" alt="abc"></a>
									</figure>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="choose_2ir">
								<h6 class="color_1">Touching Lives Through Technology</h6>
								<h2 class="mt-4 mb-4">Fingent’s Four Pillars <br> Of Influence</h2>
								<p>We believe in four pillars of influence that drive our growth. This is ingrained in everything we do We use technology to create a better and smarter environment.</p>
								<h6 class="mt-4 mb-0">
									<a class="button" href="~/Home/About">About Us <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
								</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="profile">
					<div class="choose_2i row">
						<div class="col-md-6">
							<div class="choose_2il">
								<div class="grid clearfix">
									<figure class="effect-jazz mb-0">
										<a href="#"><img src="~/img/16.jpg" class="w-100" alt="abc"></a>
									</figure>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="choose_2ir">
								<h6 class="color_1">Insight Stands Out</h6>
								<h2 class="mt-4 mb-4">Share Your Hunger,  <br> Heart And Harmony.</h2>
								<p>We believe in four pillars of influence that drive our growth. This is ingrained in everything we do We use technology to create a better and smarter environment.</p>
								<h6 class="mt-4 mb-0">
									<a class="button" href="~/Home/About">About Us <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
								</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="settings">
					<div class="choose_2i row">
						<div class="col-md-6">
							<div class="choose_2il">
								<div class="grid clearfix">
									<figure class="effect-jazz mb-0">
										<a href="#"><img src="~/img/17.jpg" class="w-100" alt="abc"></a>
									</figure>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="choose_2ir">
								<h6 class="color_1">Indulge your curiosity.</h6>
								<h2 class="mt-4 mb-4">An Award-Winning  <br> Company.</h2>
								<p>We believe in four pillars of influence that drive our growth. This is ingrained in everything we do We use technology to create a better and smarter environment.</p>
								<h6 class="mt-4 mb-0">
									<a class="button" href="~/Home/About">About Us <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="publish" class="pt-5 pb-5">
	<div class="container">
		<div class="row publish_1 text-center">
			<div class="publish_1m">
				<div class="col-md-12">
					<h3 class="text-white">We develops strategic software solutions for businesses.</h3>
					<div class="publish_1i mt-5 row">
						<div class="col-md-3">
							<div class="publish_1i1 text-center">
								<h1 class="color_5">2007</h1>
								<h5 class="text-white">
									Year of<br>
									establishment
								</h5>
							</div>
						</div>
						<div class="col-md-3">
							<div class="publish_1i1 text-center">
								<h1 class="color_5">3.5k+</h1>
								<h5 class="text-white">
									Of customers<br>
									worldwide
								</h5>
							</div>
						</div>
						<div class="col-md-3">
							<div class="publish_1i1 text-center">
								<h1 class="color_5">17+</h1>
								<h5 class="text-white">
									Countries with active<br>
									client base
								</h5>
							</div>
						</div>
						<div class="col-md-3">
							<div class="publish_1i1 text-center">
								<h1 class="color_5">4.6/5</h1>
								<h5 class="text-white">
									Customer<br>
									rating
								</h5>
							</div>
						</div>
					</div>
					<div class="publish_1ib text-center mt-5 row">
						<div class="col-md-12">
							<p class="text-white">You have better things to do than worry about IT for your small business. <a class="color_5" href="#">Let’s Discuss about Project.</a></p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<section id="price" class="pt-5 pb-5 bg-light">
	<div class="container">
		<div class="serv_h1 text-center row">
			<div class="col-md-12">
				<h5 class="bg-white d-inline-block color_1 bg_head">~ Pricing Plan  ~</h5>
				<h2 class="mt-3 mb-0">Our <span class="color_1">Awesome</span> Pricing Plans  </h2>
			</div>
		</div>
		<div class="price_1 mt-4  row">
			<div class="col-md-4">
				<div class="price_1i bg-white pb-4">
					<h5 class="pt-4 px-4">Basic Plan</h5>
					<p class="pt-2 px-4">Our purpose is to build solutions that remove barriers preventing people.</p>
					<h2 class="text-white text-center pt-2 pb-2">$25 <span class="font_14">/ monthly</span></h2>
					<p class="pt-2 pb-2 mx-3 px-4"><i class="fa fa-check color_1 mx-1"></i> 24/7 system monitoring</p>
					<p class="bg-light mx-3 pt-2 px-4 pb-2"><i class="fa fa-check color_1 mx-1"></i> Security management</p>
					<p class="pt-2 px-4 mx-3 pb-2"><i class="fa fa-check color_1 mx-1"></i> Secure finance backup</p>
					<p class="pt-2 px-4 mx-3 pb-2"><i class="fa fa-check color_1 mx-1"></i> Remote support</p>
					<h6 class="mt-3 mx-3"><a class="button d-block text-center" href="#">Get a free trial</a></h6>
				</div>
			</div>
			<div class="col-md-4">
				<div class="price_1i bg-white pb-4">
					<h5 class="pt-4 px-4">Standard Plan</h5>
					<p class="pt-2 px-4">Our purpose is to build solutions that remove barriers preventing people.</p>
					<h2 class="text-white text-center pt-2 pb-2">$45 <span class="font_14">/ monthly</span></h2>
					<p class="pt-2 pb-2 mx-3 px-4"><i class="fa fa-check color_1 mx-1"></i> 24/7 system monitoring</p>
					<p class="bg-light mx-3 pt-2 px-4 pb-2"><i class="fa fa-check color_1 mx-1"></i> Security management</p>
					<p class="pt-2 px-4 mx-3 pb-2"><i class="fa fa-check color_1 mx-1"></i> Secure finance backup</p>
					<p class="pt-2 bg-light px-4 mx-3 pb-2"><i class="fa fa-check color_1 mx-1"></i> Remote support</p>
					<h6 class="mt-3 mx-3"><a class="button d-block text-center" href="#">Get a free trial</a></h6>
				</div>
			</div>
			<div class="col-md-4">
				<div class="price_1i bg-white pb-4">
					<h5 class="pt-4 px-4">Extended Plan</h5>
					<p class="pt-2 px-4">Our purpose is to build solutions that remove barriers preventing people.</p>
					<h2 class="text-white text-center pt-2 pb-2">$55 <span class="font_14">/ monthly</span></h2>
					<p class="pt-2 bg-light pb-2 mx-3 px-4"><i class="fa fa-check color_1 mx-1"></i> 24/7 system monitoring</p>
					<p class=" mx-3 pt-2 px-4 pb-2"><i class="fa fa-check color_1 mx-1"></i> Security management</p>
					<p class="pt-2 px-4 mx-3 pb-2"><i class="fa fa-check color_1 mx-1"></i> Secure finance backup</p>
					<p class="pt-2 bg-light px-4 mx-3 pb-2"><i class="fa fa-check color_1 mx-1"></i> Remote support</p>
					<h6 class="mt-3 mx-3"><a class="button d-block text-center" href="#">Get a free trial</a></h6>
				</div>
			</div>
		</div>
	</div>

</section>

<section id="testim" class="pt-5">
	<div class="container">
		<div class="row testim_1">
			<div class="col-md-5">
				<div class="testim_1l">
					<h5 class="bg-white d-inline-block color_1 bg_head">~ Testimonials ~</h5>
					<h2 class="mt-3 mb-3">Here’s what our <span class="color_1">customers</span> have said.  </h2>
					<p>Simplified IT is designed to help make sure you and your data is protected and your computer runs it’s best. The network Access provides is valuable.</p>
					<h6 class="mt-4 mb-0">
						<a class="button" href="#">View More <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
					</h6>
				</div>
			</div>
			<div class="col-md-7">
				<div class="testim_1r">
					<div id="carouselExampleCaptions3" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
							<button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="2" aria-label="Slide 3" class="" aria-current="true"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="testim_1ri row">
									<div class="col-md-12 bg-light pt-4 pb-4 px-5">
										<span class="font_20">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="font_20 mt-3">“ITo helped the client achieve their goal of calling the attention of mobile network operators. The expert team was also able to develop an app with commendable UI/UX. The client appreciates their flexibility in terms.”</p>
										<img src="~/img/18.jpg" alt="abc" class="rounded-circle">
										<h4 class="d-inline-block">Eget Nulla <br><span class="color_1 font_16">Founder & CEO</span></h4>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="testim_1ri row">
									<div class="col-md-12 bg-light pt-4 pb-4 px-5">
										<span class="font_20">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="font_20 mt-3">“ITo helped the client achieve their goal of calling the attention of mobile network operators. The expert team was also able to develop an app with commendable UI/UX. The client appreciates their flexibility in terms.”</p>
										<img src="~/img/19.jpg" alt="abc" class="rounded-circle">
										<h4 class="d-inline-block">Semper  Porta <br><span class="color_1 font_16">Developer</span></h4>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<div class="testim_1ri row">
									<div class="col-md-12 bg-light pt-4 pb-4 px-5">
										<span class="font_20">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="font_20 mt-3">“ITo helped the client achieve their goal of calling the attention of mobile network operators. The expert team was also able to develop an app with commendable UI/UX. The client appreciates their flexibility in terms.”</p>
										<img src="~/img/20.jpg" alt="abc" class="rounded-circle">
										<h4 class="d-inline-block">Dapibus Diam <br><span class="color_1 font_16">Designer</span></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<section id="blog_h" class="pt-5 pb-5 bg-light">
	<div class="container">
		<div class="serv_h1  row">
			<div class="col-md-12">
				<h5 class="bg-white d-inline-block color_1 bg_head">~ Blog  ~</h5>
				<h2 class="mt-3 mb-0">Our Latest <span class="color_1">Blog </span></h2>
			</div>
		</div>
		<div class="row blog_h1 mt-4">
			<div class="col-md-6 col-lg-4">
				<div class="blog_h1i bg-white">
					<div class="grid clearfix">
						<figure class="effect-jazz mb-0">
							<a href="#"><img src="~/img/12.jpg" height="270" class="w-100" alt="abc"></a>
						</figure>
					</div>
					<div class="blog_h1i1 p-4 clearfix">
						<h6 class="font_14"><i class="fa fa-calendar color_1 mx-1"></i> July 22, 2022</h6>
						<h5 class="mt-3"><a href="#">Regional Manager & limited time management.</a></h5>
						<p>With over a decade experience, we’ve established ourselves as one of the…</p>
						<div class="blog_h1i1i row">
							<div class="col-md-6">
								<div class="blog_h1i1il">
									<span><i class="fa fa-joomla"></i></span>
									<h6 class="d-inline-block mb-0"><a class="color_4" href="#">Eget Nulla</a></h6>
								</div>
							</div>
							<div class="col-md-6">
								<div class="blog_h1i1ir text-end">
									<h6 class="mb-0 mt-2"><a class="color_4" href="#">More Details <i class="fa fa-chevron-right mx-1 align-middle"></i></a></h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="blog_h1i bg-white">
					<div class="grid clearfix">
						<figure class="effect-jazz mb-0">
							<a href="#"><img src="~/img/10.jpg" height="270" class="w-100" alt="abc"></a>
						</figure>
					</div>
					<div class="blog_h1i1 p-4 clearfix">
						<h6 class="font_14"><i class="fa fa-calendar color_1 mx-1"></i> July 22, 2022</h6>
						<h5 class="mt-3"><a href="#">Revitalising your people in to a retail downturn.</a></h5>
						<p>With over a decade experience, we’ve established ourselves as one of the…</p>
						<div class="blog_h1i1i row">
							<div class="col-md-6">
								<div class="blog_h1i1il">
									<span><i class="fa fa-joomla"></i></span>
									<h6 class="d-inline-block mb-0"><a class="color_4" href="#">Dapi Porta</a></h6>
								</div>
							</div>
							<div class="col-md-6">
								<div class="blog_h1i1ir text-end">
									<h6 class="mb-0 mt-2"><a class="color_4" href="#">More Details <i class="fa fa-chevron-right mx-1 align-middle"></i></a></h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="blog_h1i bg-white">
					<div class="grid clearfix">
						<figure class="effect-jazz mb-0">
							<a href="#"><img src="~/img/11.jpg" height="270" class="w-100" alt="abc"></a>
						</figure>
					</div>
					<div class="blog_h1i1 p-4 clearfix">
						<h6 class="font_14"><i class="fa fa-calendar color_1 mx-1"></i> July 22, 2022</h6>
						<h5 class="mt-3"><a href="#">Organisational teams of the are just like families</a></h5>
						<p>With over a decade experience, we’ve established ourselves as one of the…</p>
						<div class="blog_h1i1i row">
							<div class="col-md-6">
								<div class="blog_h1i1il">
									<span><i class="fa fa-joomla"></i></span>
									<h6 class="d-inline-block mb-0"><a class="color_4" href="#">Arcu Eget</a></h6>
								</div>
							</div>
							<div class="col-md-6">
								<div class="blog_h1i1ir text-end">
									<h6 class="mb-0 mt-2"><a class="color_4" href="#">More Details <i class="fa fa-chevron-right mx-1 align-middle"></i></a></h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

<section id="quote" class="pt-5 pb-5">
	<div class="container">
		<div class="row quote_1">
			<div class="col-md-9">
				<div class="quote_1l">
					<h3 class="text-white">Looking for the Best IT Business Solutions?</h3>
					<p class="mb-0 color_3">As a app web crawler expert, We will help to organize.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="quote_1r">
					<h6 class="mb-0 mt-3"> <a class="button" href="#">Get a quote now </a></h6>
				</div>
			</div>
		</div>
	</div>
</section>
