<section id="center" class="center_o clearfix bg-light">
	<div class="container">
		<div class="row center_o1">
			<div class="col-md-12">
				<h2 class="mgt big">Services</h2>
				<h5 class="mb-0"><a href="#">Home</a> / <span class="color_1">Services</span></h5>
			</div>
		</div>
	</div>
</section>

<section id="serv_pg" class="pt-5 pb-5">
	<div class="container">
		<div class="row serv_pg1">
			<div class="col-md-3">
				<div class="serv_pg1i clearfix position-relative text-center">
					<div class="serv_pg1i1 clearfix">
						<img src="~/img/26.jpg" class="w-100" alt="abc">
					</div>
					<div class="serv_pg1i2 position-absolute w-100 h-100 clearfix">
						<h5 class="text-white">Backup & Recovery</h5>
						<p class="font_16 text-light">Our goal is to propel your to business forward with world-class IT cybersecurity and technology. We provide the expert solutions.</p>
						<h6 class="mb-0"><a class="button_1" href="#">Read More</a></h6>
					</div>
					<div class="serv_pg1i3 position-absolute w-100  clearfix">
						<span><i class="fa fa-file-archive-o"></i></span>
						<h5 class="mt-2 mb-0 text-white">Backup & Recovery</h5>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="serv_pg1i clearfix position-relative text-center">
					<div class="serv_pg1i1 clearfix">
						<img src="~/img/27.jpg" class="w-100" alt="abc">
					</div>
					<div class="serv_pg1i2 position-absolute w-100 h-100 clearfix">
						<h5 class="text-white">VIP Solutions</h5>
						<p class="font_16 text-light">Our goal is to propel your to business forward with world-class IT cybersecurity and technology. We provide the expert solutions.</p>
						<h6 class="mb-0"><a class="button_1" href="#">Read More</a></h6>
					</div>
					<div class="serv_pg1i3 position-absolute w-100  clearfix">
						<span><i class="fa fa-phone"></i></span>
						<h5 class="mt-2 mb-0 text-white">VIP Solutions</h5>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="serv_pg1i clearfix position-relative text-center">
					<div class="serv_pg1i1 clearfix">
						<img src="~/img/28.jpg" class="w-100" alt="abc">
					</div>
					<div class="serv_pg1i2 position-absolute w-100 h-100 clearfix">
						<h5 class="text-white">Consulting Planning</h5>
						<p class="font_16 text-light">Our goal is to propel your to business forward with world-class IT cybersecurity and technology. We provide the expert solutions.</p>
						<h6 class="mb-0"><a class="button_1" href="#">Read More</a></h6>
					</div>
					<div class="serv_pg1i3 position-absolute w-100  clearfix">
						<span><i class="fa fa-cloud"></i></span>
						<h5 class="mt-2 mb-0 text-white">Consulting Planning</h5>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="serv_pg1i clearfix position-relative text-center">
					<div class="serv_pg1i1 clearfix">
						<img src="~/img/29.jpg" class="w-100" alt="abc">
					</div>
					<div class="serv_pg1i2 position-absolute w-100 h-100 clearfix">
						<h5 class="text-white">IT Consultency</h5>
						<p class="font_16 text-light">Our goal is to propel your to business forward with world-class IT cybersecurity and technology. We provide the expert solutions.</p>
						<h6 class="mb-0"><a class="button_1" href="#">Read More</a></h6>
					</div>
					<div class="serv_pg1i3 position-absolute w-100  clearfix">
						<span><i class="fa fa-briefcase"></i></span>
						<h5 class="mt-2 mb-0 text-white">IT Consultency</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row serv_pg1 mt-4">
			<div class="col-md-3">
				<div class="serv_pg1i clearfix position-relative text-center">
					<div class="serv_pg1i1 clearfix">
						<img src="~/img/30.jpg" class="w-100" alt="abc">
					</div>
					<div class="serv_pg1i2 position-absolute w-100 h-100 clearfix">
						<h5 class="text-white">Internet Thinking</h5>
						<p class="font_16 text-light">Our goal is to propel your to business forward with world-class IT cybersecurity and technology. We provide the expert solutions.</p>
						<h6 class="mb-0"><a class="button_1" href="#">Read More</a></h6>
					</div>
					<div class="serv_pg1i3 position-absolute w-100  clearfix">
						<span><i class="fa fa-internet-explorer"></i></span>
						<h5 class="mt-2 mb-0 text-white">Internet Thinking</h5>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="serv_pg1i clearfix position-relative text-center">
					<div class="serv_pg1i1 clearfix">
						<img src="~/img/31.jpg" class="w-100" alt="abc">
					</div>
					<div class="serv_pg1i2 position-absolute w-100 h-100 clearfix">
						<h5 class="text-white">Security & Compliance</h5>
						<p class="font_16 text-light">Our goal is to propel your to business forward with world-class IT cybersecurity and technology. We provide the expert solutions.</p>
						<h6 class="mb-0"><a class="button_1" href="#">Read More</a></h6>
					</div>
					<div class="serv_pg1i3 position-absolute w-100  clearfix">
						<span><i class="fa fa-lock"></i></span>
						<h5 class="mt-2 mb-0 text-white">Security & Compliance</h5>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="serv_pg1i clearfix position-relative text-center">
					<div class="serv_pg1i1 clearfix">
						<img src="~/img/32.jpg" class="w-100" alt="abc">
					</div>
					<div class="serv_pg1i2 position-absolute w-100 h-100 clearfix">
						<h5 class="text-white">Web Development</h5>
						<p class="font_16 text-light">Our goal is to propel your to business forward with world-class IT cybersecurity and technology. We provide the expert solutions.</p>
						<h6 class="mb-0"><a class="button_1" href="#">Read More</a></h6>
					</div>
					<div class="serv_pg1i3 position-absolute w-100  clearfix">
						<span><i class="fa fa-wrench"></i></span>
						<h5 class="mt-2 mb-0 text-white">Web Development</h5>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="serv_pg1i clearfix position-relative text-center">
					<div class="serv_pg1i1 clearfix">
						<img src="~/img/33.jpg" class="w-100" alt="abc">
					</div>
					<div class="serv_pg1i2 position-absolute w-100 h-100 clearfix">
						<h5 class="text-white">Digital Marketing</h5>
						<p class="font_16 text-light">Our goal is to propel your to business forward with world-class IT cybersecurity and technology. We provide the expert solutions.</p>
						<h6 class="mb-0"><a class="button_1" href="#">Read More</a></h6>
					</div>
					<div class="serv_pg1i3 position-absolute w-100  clearfix">
						<span><i class="fa fa-bullhorn"></i></span>
						<h5 class="mt-2 mb-0 text-white">Digital Marketing</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="test" class="bg-light">
	<div class="container-fluid">
		<div class="test_1 row">
			<div class="col-md-6 p-0">
				<div class="test_1l">
					<div class="test_1lm">
						<h5 class="color_5">Case Studies</h5>
						<h3 class="text-white mt-3">Information Security</h3>
						<p class="color_3 mt-3">Our customers get solutions and business opportunities instead of just projects. Our mission is to accelerate.</p>
						<h6 class="mb-0 mt-3"> <a class="button" href="#">Know More </a></h6>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="test_1r">
					<h5 class="bg-white d-inline-block color_1 bg_head">Who We Are?</h5>
					<h2 class="mt-3">Our <span class="color_1">penetration</span> testing <br> team uses an industry</h2>
					<p class="mt-3">We provide the full spectrum of IT services and <br> consulting for various industries.</p>
					<div class="test_1ri row mt-4">
						<div class="col-md-6">
							<div class="test_1ril">
								<span><i class="fa fa-bullhorn"></i></span>
								<h5 class="mt-3">Digital Marketer</h5>
								<p>Our customers get solutions and business opportunities instead of just projects. Our mission is to accelerate.</p>
								<h6 class="mb-0 mt-3"> <a class="button" href="#">About Us </a></h6>
							</div>
						</div>
						<div class="col-md-6">
							<div class="test_1ril">
								<span><i class="fa fa-search"></i></span>
								<h5 class="mt-3">Global Entrepreneur</h5>
								<p class="mb-0">Our customers get solutions and business opportunities instead of just projects. Our mission is to accelerate.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="quote" class="pt-5 pb-5">
	<div class="container">
		<div class="row quote_1">
			<div class="col-md-9">
				<div class="quote_1l">
					<h3 class="text-white">Looking for the Best IT Business Solutions?</h3>
					<p class="mb-0 color_3">As a app web crawler expert, We will help to organize.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="quote_1r">
					<h6 class="mb-0 mt-3"> <a class="button" href="#">Get a quote now </a></h6>
				</div>
			</div>
		</div>
	</div>
</section>

