<section id="center" class="center_o clearfix bg-light">
	<div class="container">
		<div class="row center_o1">
			<div class="col-md-12">
				<h2 class="mgt big">Our Team</h2>
				<h5 class="mb-0"><a href="#">Home</a> / <span class="color_1">Our Team</span></h5>
			</div>
		</div>
	</div>
</section>

<section id="team" class="pt-5 pb-5 team_pg">
	<div class="container">
		<div class="row team_1">
			<div class="col-md-3">
				<div class="team_1i clearfix position-relative text-center">
					<div class="team_1i1 clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="team_detail.html"><img src="~/img/35.jpg" class="w-100" height="330" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="team_1i2 clearfix w-100 position-absolute">
						<p class="font_16 text-light">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
						<h6><a class="button" href="team_detail.html">Read More</a></h6>
					</div>
					<div class="team_1i3 w-100 clearfix position-absolute">
						<h4 class="text-white">Eget Nulla</h4>
						<h6 class="mb-0 color_5">Developer</h6>
					</div>
					<div class="team_1i4 w-100 clearfix position-absolute">
						<ul class="social-network social-circle mb-0">
							<li><a href="team_detail.html" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="team_detail.html" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="team_detail.html" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="team_detail.html" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team_1i clearfix position-relative text-center">
					<div class="team_1i1 clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="team_detail.html"><img src="~/img/36.jpg" class="w-100" height="330" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="team_1i2 clearfix w-100 position-absolute">
						<p class="font_16 text-light">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
						<h6><a class="button" href="team_detail.html">Read More</a></h6>
					</div>
					<div class="team_1i3 w-100 clearfix position-absolute">
						<h4 class="text-white">Nulla Quis</h4>
						<h6 class="mb-0 color_5">Business Head</h6>
					</div>
					<div class="team_1i4 w-100 clearfix position-absolute">
						<ul class="social-network social-circle mb-0">
							<li><a href="team_detail.html" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="team_detail.html" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="team_detail.html" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="team_detail.html" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team_1i clearfix position-relative text-center">
					<div class="team_1i1 clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="team_detail.html"><img src="~/img/37.jpg" class="w-100" height="330" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="team_1i2 clearfix w-100 position-absolute">
						<p class="font_16 text-light">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
						<h6><a class="button" href="team_detail.html">Read More</a></h6>
					</div>
					<div class="team_1i3 w-100 clearfix position-absolute">
						<h4 class="text-white">Eget Porta</h4>
						<h6 class="mb-0 color_5">Manager</h6>
					</div>
					<div class="team_1i4 w-100 clearfix position-absolute">
						<ul class="social-network social-circle mb-0">
							<li><a href="team_detail.html" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="team_detail.html" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="team_detail.html" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="team_detail.html" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team_1i clearfix position-relative text-center">
					<div class="team_1i1 clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="team_detail.html"><img src="~/img/38.jpg" class="w-100" height="330" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="team_1i2 clearfix w-100 position-absolute">
						<p class="font_16 text-light">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
						<h6><a class="button" href="team_detail.html">Read More</a></h6>
					</div>
					<div class="team_1i3 w-100 clearfix position-absolute">
						<h4 class="text-white">Arcu Eget</h4>
						<h6 class="mb-0 color_5">Founder & CEO</h6>
					</div>
					<div class="team_1i4 w-100 clearfix position-absolute">
						<ul class="social-network social-circle mb-0">
							<li><a href="team_detail.html" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="team_detail.html" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="team_detail.html" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="team_detail.html" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row team_1 mt-5">
			<div class="col-md-3">
				<div class="team_1i clearfix position-relative text-center">
					<div class="team_1i1 clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="team_detail.html"><img src="~/img/22.jpg" class="w-100" height="330" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="team_1i2 clearfix w-100 position-absolute">
						<p class="font_16 text-light">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
						<h6><a class="button" href="team_detail.html">Read More</a></h6>
					</div>
					<div class="team_1i3 w-100 clearfix position-absolute">
						<h4 class="text-white">Eget Nulla</h4>
						<h6 class="mb-0 color_5">Developer</h6>
					</div>
					<div class="team_1i4 w-100 clearfix position-absolute">
						<ul class="social-network social-circle mb-0">
							<li><a href="team_detail.html" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="team_detail.html" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="team_detail.html" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="team_detail.html" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team_1i clearfix position-relative text-center">
					<div class="team_1i1 clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="team_detail.html"><img src="~/img/23.jpg" class="w-100" height="330" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="team_1i2 clearfix w-100 position-absolute">
						<p class="font_16 text-light">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
						<h6><a class="button" href="team_detail.html">Read More</a></h6>
					</div>
					<div class="team_1i3 w-100 clearfix position-absolute">
						<h4 class="text-white">Nulla Quis</h4>
						<h6 class="mb-0 color_5">Business Head</h6>
					</div>
					<div class="team_1i4 w-100 clearfix position-absolute">
						<ul class="social-network social-circle mb-0">
							<li><a href="team_detail.html" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="team_detail.html" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="team_detail.html" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="team_detail.html" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team_1i clearfix position-relative text-center">
					<div class="team_1i1 clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="team_detail.html"><img src="~/img/24.jpg" class="w-100" height="330" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="team_1i2 clearfix w-100 position-absolute">
						<p class="font_16 text-light">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
						<h6><a class="button" href="team_detail.html">Read More</a></h6>
					</div>
					<div class="team_1i3 w-100 clearfix position-absolute">
						<h4 class="text-white">Eget Porta</h4>
						<h6 class="mb-0 color_5">Manager</h6>
					</div>
					<div class="team_1i4 w-100 clearfix position-absolute">
						<ul class="social-network social-circle mb-0">
							<li><a href="team_detail.html" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="team_detail.html" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="team_detail.html" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="team_detail.html" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team_1i clearfix position-relative text-center">
					<div class="team_1i1 clearfix">
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">
								<a href="team_detail.html"><img src="~/img/25.jpg" class="w-100" height="330" alt="abc"></a>
							</figure>
						</div>
					</div>
					<div class="team_1i2 clearfix w-100 position-absolute">
						<p class="font_16 text-light">We partner with you to enable your technology so you focus on your organization’s mission leverage our talent.</p>
						<h6><a class="button" href="team_detail.html">Read More</a></h6>
					</div>
					<div class="team_1i3 w-100 clearfix position-absolute">
						<h4 class="text-white">Arcu Eget</h4>
						<h6 class="mb-0 color_5">Founder & CEO</h6>
					</div>
					<div class="team_1i4 w-100 clearfix position-absolute">
						<ul class="social-network social-circle mb-0">
							<li><a href="team_detail.html" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="team_detail.html" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="team_detail.html" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="team_detail.html" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section id="quote" class="pt-5 pb-5">
	<div class="container">
		<div class="row quote_1">
			<div class="col-md-9">
				<div class="quote_1l">
					<h3 class="text-white">Looking for the Best IT Business Solutions?</h3>
					<p class="mb-0 color_3">As a app web crawler expert, We will help to organize.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="quote_1r">
					<h6 class="mb-0 mt-3"> <a class="button" href="#">Get a quote now </a></h6>
				</div>
			</div>
		</div>
	</div>
</section>