<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brain Bench Technology</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/global.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet">
    <link href="~/css/about.css" rel="stylesheet">
    <link href="~/css/blog.css" rel="stylesheet">
    <link href="~/css/contact.css" rel="stylesheet">
    <link href="~/css/services.css" rel="stylesheet">
    <link href="~/css/detail.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <script src="~/js/bootstrap.bundle.min.js"></script>

</head>
<body>

    <section id="top">
        <div class="container">
            <div class="row top_1 text-center">
                <div class="col-md-12">
                    <ul class="mb-0">
                        <li class="d-inline-block px-3"><a href="#"><i class="fa fa-phone color_1 mx-1"></i> (+91) 9301789363</a></li>
                        <li class="d-inline-block px-3"><a href="#"><i class="fa fa-map color_1 mx-1"></i> Motinager Ward No. 33, Balaghat, M.P. India</a></li>
                        <li class="d-inline-block px-3"><a href="#"><i class="fa fa-envelope color_1 mx-1"></i> shyamrahangdale38@gmail.com</a></li>
                        <li class="d-inline-block px-3 border-0">
                            <a href="#">
                                <i class="fa fa-facebook mx-1 color_3"></i>
                                <i class="fa fa-instagram mx-1 color_3"></i>
                                <i class="fa fa-linkedin mx-1 color_3"></i>
                                <i class="fa fa-pinterest mx-1 color_3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section id="header">
        <nav class="navbar navbar-expand-md navbar-light p-0 " id="navbar_sticky">
            <div class="container-fluid p-0">
                <a class="navbar-brand text-white" href="~/Home/Index">Brain Bench<br> <span class="font_14 color_5 fw-normal">Technology</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="~/Home/Index">Home</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/About">About Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Blog
                            </a>
                            <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="~/Home/blog"> Blog</a></li>
                                <li><a class="dropdown-item border-0" href="~/Home/blog_detail"> Blog Detail</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/services">Services</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Team
                            </a>
                            <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="~/Home/team"> Team</a></li>
                                <li><a class="dropdown-item border-0" href="~/Home/team_detail"> Team Detail</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/contact">Contact Us</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav mb-0 ms-auto px-4">
                        <li class="nav-item">
                            <div class="input-group mx-3">
                                <input type="text" class="form-control border-0" placeholder="Search Here">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary border-0 color_2" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-icon" href="#"><i class="fa fa-globe"></i></a>
                        </li>

                        <li class="nav-item">
                            <a class="button nav-link" href="contact.html">Get a quote now <i class="fa fa-long-arrow-right align-middle mx-1"></i></a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </section>
    @RenderBody()
    <section id="footer" class="pt-3 pb-3">
        <div class="container">
            <div class="row footer_1">
                <div class="col-md-3">
                    <div class="footer_1i">
                        <h2 class="text-white">Brain Bench Technology</h2>
                        <p class="color_3 mt-3">We work with a passion of taking challenges and creating new ones in advertising sector.</p>
                        <h6 class="mb-0 mt-4"><a class="button" href="~/Home/About">About Us</a></h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_1i">
                        <h4 class="text-white">Newsletter</h4>
                        <hr class="line_1">
                        <p class="color_3">Subscribe our newsletter to get our latest update & news.</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-location-arrow"></i>
                                </button>
                            </span>
                        </div>
                        <ul class="mb-0 mt-3">
                            <li class="d-inline-block  border-0">
                                <a href="#">
                                    <i class="fa fa-facebook mx-2 color_3"></i>
                                    <i class="fa fa-instagram mx-2 color_3"></i>
                                    <i class="fa fa-linkedin mx-2 color_3"></i>
                                    <i class="fa fa-pinterest mx-2 color_3"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_1i1">
                        <h4 class="text-white">Official info:</h4>
                        <hr class="line_1">
                        <div class="footer_1i1i">
                            <span class="color_1"><i class="fa fa-map-marker"></i></span>
                            <p class="d-inline-block color_3">Changora Bhata Near Asha Deep School <br> Raipur, C.G India</p>
                        </div>
                        <div class="footer_1i1i">
                            <span class="color_1"><i class="fa fa-phone"></i></span>
                            <p class="d-inline-block color_3"> (+91) 8839965632</p>
                        </div>
                        <div class="footer_1i1i">
                            <h5 class="text-white font_16">Open Hours:</h5>
                            <p class="color_3">
                                Mon – Sat: 9 am – 6 pm,<br>
                                Sunday: CLOSED
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_1i">
                        <h4 class="text-white">Gallery</h4>
                        <hr class="line_1">
                        <div class="row footer_1ii">
                            <div class="col-md-4 col-4 px-1">
                                <div class="footer_1ii1">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="~/img/6.jpg" height="80" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-4 px-1">
                                <div class="footer_1ii1">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="~/img/7.jpg" height="80" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-4 px-1">
                                <div class="footer_1ii1">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="~/img/8.jpg" height="80" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row footer_1ii mt-2">
                            <div class="col-md-4 col-4 px-1">
                                <div class="footer_1ii1">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="~/img/9.jpg" height="80" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-4 px-1">
                                <div class="footer_1ii1">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="~/img/10.jpg" height="80" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-4 px-1">
                                <div class="footer_1ii1">
                                    <div class="grid clearfix">
                                        <figure class="effect-jazz mb-0">
                                            <a href="#"><img src="~/img/11.jpg" height="80" class="w-100" alt="abc"></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer_2 text-center">
                <div class="col-md-12">
                    <p class="mb-0 color_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="color_1" href="http://www.brainbench.tech">Brain Bench Technology</a></p>
                </div>
            </div>
        </div>
    </section>

    <script>
        window.onscroll = function () { myFunction() };

        var navbar_sticky = document.getElementById("navbar_sticky");
        var sticky = navbar_sticky.offsetTop;
        var navbar_height = document.querySelector('.navbar').offsetHeight;

        function myFunction() {
            if (window.pageYOffset >= sticky + navbar_height) {
                navbar_sticky.classList.add("sticky")
                document.body.style.paddingTop = navbar_height + 'px';
            } else {
                navbar_sticky.classList.remove("sticky");
                document.body.style.paddingTop = '0'
            }
        }
    </script>

</body>

</html>
@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HomeApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HomeApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HomeApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HomeApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 *@